/*#D0F288  header
#F8FFD2   main
#8ADAB2   fotter
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,700&family=Oswald&display=swap');
/*font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-size: 62.5%;/*1 rem = 10 px*/
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#colorfondo{
    background-color: #eefaa8;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}


li {
        list-style:none;
        font-size: 1.5rem;
    }

/*estilos y position de header*/

header{
    background-color:#D0F288;
    position: sticky;
    top: 0;
}
.navbar-nav{
    font-size: 2rem;
}

.nav-link{
    margin-left: 15px;
}

.logoheader{
    height: 70px;
    width: 70px;
}

nav{
    width: 100%;
}

/*estilo navegador*/
header ul{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

/* estilos main */

.main-imagen{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}


main h1{
    text-decoration: underline;
    text-align: center;
}

.titulo-masvendidos{
    display: flex;
    justify-content: center;
}

/*parrafo de inicio index*/
.parrafo-inicio{
    display: flex;
    justify-content: center;
}

.mas-vendidos{
display: flex;
justify-content: space-around;
}

.producto1{
text-align: center;
border: 2px;
border-style: solid;
width: 300px;
height: 320px;
padding: 10px;
background-color: rgba(222, 184, 135, 0.604);
}
/*productos mas vendidos*/


.producto{
    height: 200px;
    width: 200px;
}


/*sector de mail de preguntas*/

.preg-uno{
    text-align: center;
    margin: 30px 0px;
}

.div-Dos{
    display: flex;
    justify-content: center;
}

.div-pregdos{
    text-align: center;   
}

.img-preg{
    width: 200px;
    height: 200px;
}

.div-pregdos{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
 

/*estilo de caja contacto*/

.box-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datos-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*estilo caja productos*/

.titulo-mate{
    text-align: center;
    margin: 15px auto;
}


/*estilo caja preguntas*/

.preguntas h2{
    font-size: 2.5rem;
}

.preguntas p{
    font-size: 1.5rem;
}



/*estilos footer*/

footer{
    background-color:#8ADAB2;
    display: flex;
    margin-top: auto;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    font-size: 2rem;
    padding: 10px 25px;
}

.logoredes{
    height: 50px;
    width: 50px;
}


.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/*simbolo face*/
.bi-facebook{
    color: blue;
    font-size: 5rem;
}
/*logo instagram*/
.bi-instagram{
    color: blueviolet;
    font-size: 5rem;
}

/*simbolo wpp*/

.bi-whatsapp{
    color: greenyellow;
    font-size: 5rem;
}